container_commands:
    01_migrations:
        command: find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;
option_settings:
    "aws:elasticbeanstalk:container:python":
        WSGIPath: lmuvote.wsgi:application
    "aws:elasticbeanstalk:environment:proxy:staticfiles":
        /static: static