{% load static %}
{% load votes %}
{% ccategories as cc %}
{% today as tt %}
{% deadline as dd %}
<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <meta http-equiv="x-ua-compatible" content="ie=edge">
       <title>{% block title %}{% endblock %}</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
       <link rel="stylesheet" href="{% static 'polls/style.css' %}">

       <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-0YJNHNLFG5"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-0YJNHNLFG5');
      </script>

   </head>
   <body>
       <!-- Start your project here-->
           <!--Navbar-->
           <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">VoteApp</a>
              <button class="navbar-toggler collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-bars text-white"></i>
              </button>
              <div class="navbar-collapse collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto ml-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'polls:categories' %}">Categories</a>
                  </li>
                  <!-- Icon dropdown -->
                  <!-- <li class="nav-item me-3 me-lg-0 dropdown">
                    <a class="nav-link dropdown-toggle dropdown-right" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                      Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" data-popper-placement="null" data-mdb-popper="none">
                        {% for category in cc %}
                            <li><a class="dropdown-item" href="{% url 'polls:category' %}?page={{forloop.counter}}">{{category.name}}</a></li>
                        {% endfor %}
                    </ul>
                  </li> -->
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'polls:contact' %}">Contact</a>
                    </li>

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vauth:logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vauth:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vauth:signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
              </div>
            </div>
          </nav>
          <!-- Navbar -->

           {% for message in messages %}
           <div class="alert straight alert-{{message.tags}} mb-0 fade show d-flex justify-content-between" role="alert">
               <div>{{message}}</div>
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <!-- <div class="my-toast shadow-1-strong z-depth-4 toast fade hide bg-{{message.tags}} text-white" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-{{message.tags}} text-white">
                <strong class="me-auto">Notification</strong>
                <button type="button" class="btn-close btn-close-white" data-mdb-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">{{message}}</div>
            </div> -->
           {% endfor %}
           {% block body %}{% endblock %}
       <!-- End your project here-->
       <!-- jQuery -->
        <!-- <script src="{% static 'polls/js/jquery-3.5.1.js' %}"></script> -->
        <script src="{% static 'polls/mdb/js/mdb.min.js' %}"></script>
        <script src="{% static 'polls/mdb/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'polls/js/chart.js' %}"></script>
        <script src="{% static 'polls/js/aos.js' %}"></script>
        <script src="{% static 'polls/js/countdown.js' %}"></script>
        <script>
            AOS.init();
            // setTimeout(() => {
            //   document.querySelector(".fade.hide").classList.add("show");
            //   document.querySelector(".fade.hide").classList.remove("hide");
            // }, 2000);
          </script>

          {% if tt <= dd %}
            <script>
                const deadline = new Date("{% deadline_isoformat %}+00:00");
                initializeClock('clockdiv', deadline);
            </script>
          {% endif %}

          {%comment%}
            {% if settings.GOOGLE_ANALYTICS_KEY %}
            <script>{{settings.GOOGLE_ANALYTICS_KEY}}</script>
            {% endif %}
          {%endcomment%}

        {% block js %}
        {% endblock js %}
        <!-- <footer class="bg-light text-center text-lg-start">
        
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
          </div>
          
        </footer> -->
   </body>
</html>
